*{
    margin: 4px;
    padding: 6px 6px 6px 0;
    box-sizing: border-box;
}

button{
    border-radius: 6px;
    padding: 10px 14px;
    background-color: chartreuse;
    cursor: pointer;
}

input{
    width: 250px;
}